* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: rgb(21, 51, 61);
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav + div {
  flex: 1;
}

a {
  color: white;
  text-decoration: none;
}

nav > button {
  padding: 10px 20px;
  border-radius: 20px;
}

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

#home > h1 {
  font-size: 5rem;
  text-align: center;
}

#home > h1 > span {
  animation: 3s change-color forwards;
}

@keyframes change-color {
  from {
    background-color: white;
  }

  to {
    background-color: black;
    color: white;
    font-style: italic;
    padding: 0 30px;
  }
}

#home button {
  background: linear-gradient(to right, #1e40af 50%, #2563eb 50%) right;
  background-size: 200% 100%;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 5px 5px 5px #aaa;
  transition: all 2s ease;
  cursor: pointer;
  position: relative;
}

#home button:hover {
  background-position: left;
  scale: 1.2;
}

button > img {
  filter: invert(92%) sepia(100%) saturate(0%) hue-rotate(202deg)
    brightness(106%) contrast(106%);
  height: 2rem;
}

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.item-card {
  width: 200px;
  border: 2px solid black;
  box-shadow: 5px 5px 5px #aaa;
  text-align: center;
  padding-top: 10px;
}

.item-card p {
  margin-bottom: 10px;
}

.item-card button {
  width: 100%;
  margin: 0;
  background-color: black;
  color: white;
  border: 0;
  margin: 0;
  font-size: 1.5rem;
  cursor: pointer;
}

.item-card > img {
  width: 100%;
}

nav button {
  color: white;
  background-color: #5b21b6;
  border: none;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

#sidebar {
  background-color: black;
  width: 500px;
  height: 100vh;
  position: absolute;
  right: 0;
  opacity: 0.5;
  animation: slide-in 2s forwards;
}

#sidebar.hidden {
  right: -500px;
  animation: slide-out 2s forwards;
}

@keyframes slide-in {
  from {
    right: -500px;
  }
  to {
    right: 0;
  }
}

@keyframes slide-out {
  from {
    right: 0;
  }
  to {
    right: -500px;
  }
}
